@page "/"
@using Nuxt.Blazor.Components
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<ThemeProvider IsDarkMode="@isDarkMode" />
<NButton OnClick="ToggleThemeAsync">Toggle Theme</NButton>

<div class="bg-default" style="width:400px;height:400px">
    <p class="text-default">text-default</p>
    <p class="text-success">text-success</p>
</div>